/* todo разобраться что это*/
#title-search-input {
    padding-left: 120px;
    background: url('http://1.bp.blogspot.com/_hljKDuw-cxQ/SDEJPIeJG2I/AAAAAAAAGaM/N_Lu4sxLH_4/s00/lpDemoBuscador.gif') no-repeat scroll 95% 50%;
}
.topblockimg {
    margin-top: -5px;
}
footer.wrap {
    padding-bottom: 25px;
}
footer .logo {
    margin-right: 10px;
}
