#news_day{
	float: none;
	width: 100%
}
.wide-img img {
	width: 100%;
}

.col_content.col_2 {
	width: 47%;
}
.col_content.col_left {
	clear: left;
	float: left;
}
.col_content.col_right {
	clear: right;
	float: right;
}