body {
    background-color: #f5ffe4;
}

div.outer {
    width: 802px; /*auto;*/
    margin: 25px auto 0 auto;
}

.outer,
.outer table {
    font-size: 18px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.outer h1, 
.outer h2 {
    text-transform: uppercase;
    text-align: center;
}

.outer h1 {
    font-size: 36px;
    color: #d05652;
}

.outer h2 {
    font-size: 21px;
}

/*
#signup_logo {
    float: left;
}
.tagline {
    float: right;
}
*/

#signup_logo {
    padding: 0 10px;
}

.tagline {
    padding: 0 60px 0 40px;
}

.tagline h2 {
    color: #55974d;
    text-align: left;
}

.tagline p {
    color: #2f2e2d;
    margin-top: -10px;
    line-height: 20px;
}

#mc_embed_signup {
    color: #5c799f;
    background-color: #fef6df;
    background: url(../images/signup_bg.jpg) no-repeat center center;
    width: 802px;
    height: 444px;
    margin: 40px 0 40px 0;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
}

#mc_embed_signup table {
    color: #5c799f;
}

#mc-embedded-subscribe-form {
    padding: 20px;
}

.description {
    padding: 0px 30px;
   /* line-height: 22px;*/
}

/*
.description {
    float: left;
}
.fileds {
    float: right;
}
*/

.indicates-required,
#mc-embedded-subscribe-form .fields label {
    display: none;
}

/*
#merge_2 {
    float: left;
}
#merge_3 {
    float: right;
}
*/

#mc-embedded-subscribe-form .fields input, 
#mc-embedded-subscribe-form .fields select {
    border: #5c799f 2px solid;
    color: #5c799f;
    background-color: #fff7e0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    height: 36px;
    width: 383px;
}

input[placeholder]                { color: #5c799f; }
input::-webkit-input-placeholder  { color: #5c799f; }
input::-moz-placeholder           { color: #5c799f; } /* Firefox 19+ */
input:-moz-placeholder            { color: #5c799f; } /* Firefox 18- */
input:-ms-input-placeholder       { color: #5c799f; }

#merge_2 {
    width: 113px !important;
    margin-left: -3px;
}

#merge_3 {
    width: 243px !important;
    margin-left: 22px;
}

.checkboxes {
    /*color: #2f2e2d;*/
    text-align: center;
    /*margin-top: 5px;*/
    font-size: 14px;
}

.checkboxes a {
    color: #5c799f;
}

.submit_text {
    color: #474747;
    font-size: 21px;
    text-align: center;
    /*margin-top: 25px;*/
}

.submit_text input[type="submit"] {
    border: none;
    background-color: #ce5753;
    color: #ffdb5e;
    text-transform: lowercase;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px;
}

/*----- Errors & Successes -----*/
#mc_embed_signup div.mce_inline_error {
    display: none !important;
}

div#mce-success-response {
    text-align: center;
    color: #474747;
    margin-top: 10px;
}
/*----- /Errors & Successes -----*/
