.box-modal {
	position: relative;
	width: 700px;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Georgia, "Helvetica CY", "Nimbus Sans L", sans-serif;
	/*box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 0px;*/
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }
.city {
    font-family: Georgia;
    font-size: 24px;
    color: #4a4a4a;
    text-align: center;
}

.city input[type="image"]{
    margin-top: 30px;
}
.citynot {
    font-family: Georgia;
    font-size: 14px;
    color: #4a4a4a;
    margin-top: 20px;
}

.citysear {
    border: 1px solid #d5d5d5;
    border-radius: 7px; 
    width: 437px;
    margin: 0 auto;
    
}

.citysear input[type="text"] {
    border: none; 
    outline: none; 
    -webkit-appearance: none;
    
}

.citysear input[type="submit"] {
    width: 20px; 
    height: 13px; 
    border: none; 
    background: url(/arcticmodal/img/icon_search2.png) no-repeat !important; 
}

.citysear input[type="text"]::-webkit-input-placeholder {font-family: Georgia; font-size: 13px; padding: 7px; text-indent: 0px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]::-moz-placeholder          {font-family: Georgia; font-size: 13px; padding: 7px; text-indent: 0px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:-moz-placeholder           {font-family: Georgia; font-size: 13px; padding: 7px; text-indent: 0px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:-ms-input-placeholder      {font-family: Georgia; font-size: 13px; padding: 7px; text-indent: 0px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.citysear input[type="text"]:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}